@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');
.main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.bg-image{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding: 2rem 7rem;
    justify-content: center;
}
.heading{
    width: 50%;
    color: white;
    font-weight: 200;
    font-size: 1.6rem;
    font-family: 'Faustina', serif;
}
.sub-heading{
    width: 45%;
    color: #DFFF83;
    font-size: 1rem;
    margin-top: 1.4rem;
    font-weight: 100;
    font-family: 'Faustina', serif;

}
.join{
    margin-top: 2rem;   
    display: flex;
    width: 45%;
    gap: 2rem;
    font-family: 'Faustina', serif;
    
}
.join button{
    /* color: white; */
    padding: 1rem;
    width: 12rem;
    border: 1px solid white;
    text-transform: uppercase;
    border-radius: 20px;
    opacity: .8;
}
.farmer{
    color: white;
    background-color: rgba(255, 255, 255, 0.151);
    
    
}
.farmer:hover{
    background-color: rgba(255, 255, 255, 0.256);
    opacity: 1;

}
.buyer{
    color: black;
    background-color: #F3BD00;
}
.buyer:hover{
    opacity: 1;
}